*{
    margin: 0;
    padding: 0;
    text-align: center;
}
h1{
    background-color: #081b31;
    color: #fff;
    height: 5rem;
    line-height: 5rem;
}
.choices{
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 3rem;
    margin-top: 5rem;
}
.choice {
    height: 185px;
    width: 185px;
    border-radius: 50%;
    display: flex;
    justify-content: center;
    align-items: center;
  
}
.choice:hover{
    background-color: #081b31;
    cursor: pointer;
}
img {
    height: 165px;
    width: 165px;
    object-fit: cover;
    border-radius: 50%;
}

.score-board{
    display: flex;
    justify-content: center;
    align-items: center;
    margin-top: 5rem;
    font-size: 2rem;
    font-weight: 600;
    gap: 5rem;
}
#user-score,
#comp-score {
  font-size: 4rem;
}

.msg-container {
    margin-top: 5rem;
  }
  
#msg {
    background-color: #081b31;
    color: #fff;
    font-size: 2rem;
    display: inline;
    padding: 1rem;
    border-radius: 1rem;
  }