body {
    margin: 0;
    padding: 0;
    display: flex;
    justify-content: center;

}

.conatiner {
    margin: 0 auto;
    max-width: 400px;
    text-align: center;
    padding: 20px;
    font-family: "Roboto", sans-serif;
}

h1 {
    font-size: 40px;
    font-weight: 700;
}

.timer {
    font-size: 80px;

}

.buttons button {
    font-size: 18px;
    font-weight: 400;
    border-radius: 5PX;
    border: none;
    padding: 10px 18px;
    margin-left: 20px;
    background-color: red;
    color: white;
}

#start {
    background-color: green;
}

#stop {
    background-color: rgb(242, 52, 52);
}

#reset {
    background-color: gray;
}