body{
    margin: 0;
    background: linear-gradient(to left top, yellow, lightblue, yellow);
    min-height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
    font-family: 'Courier New', Courier, monospace;
    color: darkcyan;
}

.container{
    background: rgba(255,255,255,0.3);
    width: 450px;
    border: none;
    padding: 15px;
    border-radius: 10px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.2);
}
.container .heading{
    font-size: 35px;
    font-weight: 600;
    letter-spacing: 1px;
}
.container .input-container{
    font-size: 20px;
    font-weight: 600;
    display: flex;
    justify-content: space-between;
    align-items: center;
}
.container .input {
    padding: 10px 10px 10px 10px; 
    margin-left: 10px;
    width: 70%;
    border: none;
    font-size: 20px;
    outline: none; 
    border-radius: 10px;
    border-color: rgba(255,255,255,0.5);
    background: rgba(255,255,255,0.3);
}

.container .error{
    color: red;
}

